@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

$blue: #1A8FE3;
$dark-blue: #1973b6;
$button-light: #3ace3a;
$button-dark: #00a15d;
$button-very-dark: #00532f;

header {
  display: flex;
  width: 100vw;
  height: 20vh;
  background: $blue;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 5rem;
  color: whitesmoke;
  font-family: 'Share Tech Mono', monospace;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }
}

.form {
  height: 35vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form__input-container {
  height: 15vh;
  margin-bottom: -5vh;
}

.form__submit-container {
  height: 15vh;
  margin-bottom: -5vh;
}

.form__input {
  width: 75vw;
  border-style: solid;
  border-width: 2px;
  padding: 2vh 0;
  font-size: 2em;
  font-family: 'Share Tech Mono', monospace;
  text-indent: 1rem;
}

.form__input--error {
  border: 2px solid red;
}

.form__submit {
  padding: 2vh 0;
  color: white;
  background-color: $button-light;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 2em;
  font-family: 'Share Tech Mono', monospace;
  width: 15vw
}

.form__submit:hover {
  background-color: $button-dark;
}

.form__submit:active {
  background-color: $button-very-dark;
}

.form__submit:focus {
  outline: none;
}

.form__error {
  color: red;
}

.article-data-container {
  width: 100vw;
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 1vh;
  overflow: hidden;
}

.article-data {
  background-color: $blue;
  color: white;
  position: relative;
  padding: 5vh 0;
}

.article-data__header-container {
  display: inline-block;
  margin-left: 50px;
}

.article-data__text {
  font-size: 0;
  opacity: 0;
  padding: 0 20vh;
  text-align: justify;
}

.article-data__text--columns {
  columns: 2;
  column-gap: 20vh;
}

@media (max-width: 1000px) {
  .article-data__text--columns {
    columns: 1;
  }
}

.article-data__text--show {
  animation: hide;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes hide {
  50% {
    font-size: initial;
    opacity: 0;
  }
  100% {
    font-size: initial;
    opacity: 1;
  }
}

.table {
  width: 100%;
  border-spacing: 0;
  padding: 0;
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  color:white;
  border: white 1px solid;
}

.table__row {
  text-align: center;
}

.table__header {
  padding:21px 25px 22px 25px;
  border-bottom:1px solid white;
  background: $dark-blue;
}

.table__cell {
  padding: 10px;
}

.table__cell--positive {
  color: green;
}

.table__cell--negative {
  color: red;
}